.catalog__wrap {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 28.1rem);
    gap: 5.5rem 1.6rem;
    justify-content: center;
}


@media (max-width: 960px) {
    .catalog__wrap {
        grid-template-columns: repeat(3, 28.1rem);
    }
  }

  @media (max-width: 48em) {
    .catalog__wrap {
        grid-template-columns: repeat(2, 28.1rem);
        justify-content: center;
        gap: 5.5rem 7rem;
        margin-left: -4rem;
    }
    .catalog__card {
        width: 140px;
    }
    .card__none {
        display: none;
    }
    .catalog__title {
        padding-top: 5rem;
    }

  }

  
