.title__document {
    @include font (900, 4.4rem, 120%);
    text-align: center;
    padding-bottom: 3.5rem;
}

@media (max-width: 48em) {
    .title__document {
        @include font (900, 28px, 120%)
    }
    .catalog__title {
        margin-top: 4.4rem;
    }
  }