.test-drive__img {
    position: absolute;
    right: 31rem;
    top: -5rem;
    z-index: 2;
    width: 59.5rem;
    height: 57.1rem;
}

.test-drive__img__mobile {
    display: none;
}

@media (max-width: 48em) {
    .test-drive__img {
        display: none;
    }

    .test-drive__img__mobile {
        display: block;
        margin-top: 1rem;
    }
}

