.facts {
    margin-top: 10.8rem;
}

.facts__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.4rem;
    text-align: center;
}

.facts__title-h3 {
    @include font (900, 4.4rem, 120%);
    color: #2B3350;
    margin-bottom: 2.5rem;
}

.facts__title-p {
    font-family: 'Manrope';
    font-style: normal;
    @include font (400, 2.3rem, 160%);
    text-align: center;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

@media (max-width: 48em) {
    .facts__title-h3 {
        @include font (900, 28px, 120%);
        margin-bottom: 3rem;
        margin-left: -0.4rem;
        
    }
    .facts__title-p {
        @include font (400, 14px, 160%);
        width: 105%;
        letter-spacing: -.3px;
    }
}