.catalog__card__img-wrap {
    width: 27.8rem;
    height: 36rem;
    margin-bottom: 5.1rem;
    top: 0;
    padding-top: 3.4rem;
}

@media (max-width: 48em) {
    .catalog__card__img-wrap {
        width: 139px;
        height: 180px;
        margin-bottom: 1.4rem;
    } 
}
