* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

.container {
    width: 117rem;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url('../fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../fonts/inter/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-Black.woff2') format('woff2'),
        url('../fonts/inter/Inter-Black.woff') format('woff'),
        url('../fonts/inter/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../fonts/inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/inter/Inter-LightBETA.woff') format('woff'),
        url('../fonts/inter/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/inter/Inter-SemiBold.woff') format('woff'),
        url('../fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter-Bold.woff') format('woff'),
        url('../fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../fonts/inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/inter/Inter-ExtraLightBETA.woff') format('woff'),
        url('../fonts/inter/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../fonts/inter/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/inter/Inter-ExtraBold.woff') format('woff'),
        url('../fonts/inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../fonts/inter/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-ThinBETA.woff2') format('woff2'),
        url('../fonts/inter/Inter-ThinBETA.woff') format('woff'),
        url('../fonts/inter/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
        url('../fonts/inter/Inter-Medium.woff') format('woff'),
        url('../fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('../fonts/manrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Bold.woff') format('woff'),
        url('../fonts/manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('../fonts/manrope/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Semibold.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Semibold.woff') format('woff'),
        url('../fonts/manrope/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../fonts/manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Regular.woff') format('woff'),
        url('../fonts/manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Light.eot');
    src: local('Manrope Light'), local('Manrope-Light'),
        url('../fonts/manrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Light.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Light.woff') format('woff'),
        url('../fonts/manrope/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('../fonts/manrope/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Thin.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Thin.woff') format('woff'),
        url('../fonts/manrope/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../fonts/manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-Medium.woff') format('woff'),
        url('../fonts/manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-ExtraBold.eot');
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('../fonts/manrope/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manrope/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/manrope/Manrope-ExtraBold.woff') format('woff'),
        url('../fonts/manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}