.benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
}
.special__conditions {
    margin-right: 2rem;
}

.free__shipping {
    margin-left: 1.5rem;
}

@media (max-width: 48em) {
    .benefits__item {
        flex-direction: row;
        align-items:flex-start;
        width: 100%;
    }
}