.header__basket-count {
  @include font (bold, 1.2rem, 140%);
}

@media (max-width: 48em) {
  .header__basket-count {
    font-size: 10px;
    @include font (700, 9px, 140%);
    right: 13px;
    top: 13px;
  }
}