.header__basket__count-color {
  color: #FFFFFF;
  padding: 0.2rem .6rem;
  background: #0074D4;
  border-radius: 2.7rem;
}

@media (max-width: 48em) {
  .header__basket__count-color {
    position: absolute;
    right: 2.8rem;
    top: 5.5rem;
  }
}