.select__body--active {
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0rem .5rem 1rem rgba(157, 160, 166, 0.15);
    border-radius: 8px;
    padding: 2rem;
    padding-bottom: 2rem;
    margin-left: -2rem;
}