.header__input--color {
  border-radius: 0.8rem;
  color: #101426;
  background: #F7F7F8 url('../img/header/lupa.svg');
  background-repeat: no-repeat;
  background-position: 2.4rem;
  background-size: 4.8%;
}