.header__input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 5rem;
  @include font (normal, 1.7rem, 124%);
}

@media (max-width: 48em) {
  .header__input {
    display: none;
  }
}