.header {
  padding-top: 1.8rem;
  padding-bottom: 1.4rem;
}
@media (max-width: 48em) {
  .header__wrap {
    display: flex;
    justify-content: space-between;
  }
  .header {
    padding-top: 1.8rem;
    padding-bottom: 3rem;
  }
}

.select__body--active {
  z-index: 100;
}